<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>People Listing</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/styling/template/common.css}" rel="stylesheet" />
</head>

<body style="text-align: center">
<h2 class="mt-lg-4">List of people added in the service:</h2>

<div class="mt-lg-5 h-100 d-flex justify-content-center table-responsive-lg">
    <table class="table table-striped table-bordered ">
        <thead>
        <tr>
            <th>Person ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Date of birth</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${persons}">
            <td th:text="${person.person_id}">1</td>
            <td th:text="${person.name}">John Doe</td>
            <td th:text="${person.email}">jdoe@email.com</td>
            <td th:text="${person.dob}">23-09-1998</td>
        </tr>
        </tbody>

    </table>
</div>
<a href="/">Go back to the main page</a>
</body>
</html>